extends template.pug 

block content
  h1 Products
  p Here you can find all the cats in our database.

  #products
    each product in products
      .product
        h3= product.name
        p Price: #{product.price}

        if product.owner === user
          a(
            hx-get=`/products/delete/${product.id}`
            hx-target="#products"
            hx-swap="innerHTML"
          ) Delete