extends template.pug 

block content
  h1 Products
  p Here you can find all the cats in our database.

  #products
    each product in products
      div(class="products", id = "id_"+product.id)
        h3= product.name
        p Price: #{product.price}

        if product.owner === user
          a( href="#"
            hx-delete=`/products/delete/${product.id}`
            hx-target="#id_"+product.id
            hx-swap="outerHTML" 
          ) Delete
  // this is a comment...